<div class="container">
	<div class="small-gap panel panel-default">
	  <div class="panel-body">
		<h2>Commands</h2>
      	<hr class="featurette-divider">
      	<div class="row" style="margin-bottom: 10px;">
	      	<button class="col-xs-2 btn btn-success" ng-click="arm();">Remote Arm</button>
			<button style="margin-left: 20px;" class="col-xs-2 btn btn-success" ng-click="disarm();">Remote Disarm</button>
			<pre class="col-xs-2" style="margin-left: 20px;">{{arm_result}}</pre>
      	</div>
      	<div class="row" style="margin-bottom: 10px;">
		<div><a class="col-xs-2 btn btn-success" href="{{api_url}}/motor_test">Motors Test</a></div>
      	</div>
      	<div class="row" style="margin-bottom: 10px;">
			<a class="col-xs-2 btn btn-success" href="{{api_url}}/kill">Kill</a>
      	</div>
	  </div>
	</div>
</div>
