<div class="container">
	<div class="small-gap panel panel-default">
	  <div class="panel-body">
		<h2>Status - {{rest.live_text}}</h2>
      	<hr class="featurette-divider">
		<p>Alive: {{rest.status.alive}}</p>

      	<hr class="featurette-divider">
		<b>{{rest.armed_text}}</b>
      	<hr class="featurette-divider">

      	<div class="row" style="margin-bottom: 10px;">
	      	<button class="col-md-2 col-xs-5 btn btn-success" ng-click="arm();">Remote Arm</button>
	      	<div class="col-xs-2 col-md-1"></div>
			<button class="col-md-2 col-xs-5 btn btn-success" ng-click="disarm();">Remote Disarm</button>
      	</div>

      	<div class="row">
			<pre class="col-xs-12">{{arm_result}}</pre>
      	</div>

      	<hr class="featurette-divider">

		<div>
			<p>Armed Switch: {{rest.status.armed_switch}}</p>
			<p>Armed Command: {{rest.status.armed_cmd}}</p>
		</div>

		<hr class="featurette-divider">
		<b>Reduced Log</b>
      	<hr class="featurette-divider">
		<p><pre>{{rest.logs_min}}</pre></p>

		<hr class="featurette-divider">
		<b>Sensors</b>
      	<hr class="featurette-divider">
		<div>
			<p>Accelerometer: {{rest.status.sensor_info.accelerometer}}</p>
			<p>Gyroscope: {{rest.status.sensor_info.gyroscope}}</p>
			<p>GPS: {{rest.status.sensor_info.gps}}</p>
		</div>

		<hr class="featurette-divider">
		<b>Motor Info</b>
      	<hr class="featurette-divider">

		<div>
			<div ng-repeat='motor in rest.status.motor_info'>
				<div>
					Name: {{motor.name}}
				</div>
				<div>
					Power: {{motor.power}}
				</div>
				<div>
					Enabled: {{motor.enabled}}
				</div>
				<br/>
			</div>
		</div>

		<hr class="featurette-divider">

      	<div class="row" style="margin-bottom: 10px;">
	      	<button class="col-xs-2 btn btn-success" ng-click="motor_test();">Motor Test</button>
			<pre class="col-xs-2" style="margin-left: 20px;">{{motor_result}}</pre>
      	</div>

      	<hr class="featurette-divider">

		<b>Raw</b>
      	<hr class="featurette-divider">
		<p><pre>{{rest.status}}</pre></p>

		<hr class="featurette-divider">
		<b>Kill FC</b>
		<hr class="featurette-divider">
		<div class="row" style="margin-bottom: 10px;">
			<a class="col-xs-2 btn btn-success" href="{{api_url}}/kill">Kill</a>
      	</div>
	  </div>
	</div>
</div>
