
/* panel */
.cpanel, .cpanelcollapsed 
{
	background: #eee;
	margin: 5px;
	margin-top: 2em;
	padding: 0px 0px 5px;
	border: 1px solid #999;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	margin-left: auto;
	margin-right: auto;
}

/* panel heading */
.cpanel h2, .cpanelcollapsed h2 
{
	height:30px;
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
	padding: 4px;
	color: #B9B9B9;
	background: #303030;
	background-position: right;
	border-bottom: 1px solid #999;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-left: 1px solid #FFF;
}

/* panel heading on rollover */
.cpanel h2:hover, .cpanelcollapsed h2:hover {
	background-color: #595959; 
}

/* heading of a collapsed panel */
.cpanelcollapsed h2 
{

	color: #B9B9B9;
	background: #303030;
	background-position: right;
	border-color: #CCC;
	margin: 0px;
	padding: 4px;


}

/* panel content - do not set borders or paddings */
.cpanelcontent 
{ 
	overflow: hidden;
	color: black;
	padding: 5px;
}

.cpanelcontent a { color: grey; }

/* collapsed panel content */
.cpanelcollapsed .cpanelcontent { display: none; }
